---
const description = "";
const url = "";
import "../css/main.css";
import MainLayout from "../layouts/MainLayout.astro";
import HalfnHalf from "../components/HalfnHalf.astro";
import Hero from "../components/Hero.astro";
import heroImage from "../images/heroSecurity.webp";
import bagageinformation from "../images/bagageinformation.webp"
import sikkerhedskontrol from "../images/sikkerhedskontrol.webp"
import tilladtBagage from "../images/tilladtBagage.webp"
import Grid from "../components/Grid.astro";
import ThreeoneCard1 from "../components/ThreeoneCard1.astro";
import ThreeoneCard2 from "../components/ThreeoneCard2.astro";
import Heading1AndP from "../components/Heading1andP.astro";
import { FAQ } from "../components/FAQ";
---

<MainLayout title="Kundeservice/security">
  <Hero
    heroTitle="Security"
    heroDescription="Få vigtige informationer om sikkerhedskontrollen og gør din rejse nemmere"
    heroImage={heroImage}
    heroImageAlt="Security i lufthavnen Billede"
  />
  <main>
    <Heading1AndP pageHeading="Spørgsmål til Security i lufthavnen?" paragraph="Her på siden finder du svar på ofte stillede spørgsmål omkring security. Nedenfor findes brugbare links til information om bagage og sikkerhedskontrol."/>
   <div class="my-6">
    <Grid type="3+1" class="max-w-[1024px] mx-auto gap-3 py-5">
      <ThreeoneCard1
        cardTitle="Sikkerhedskontrol"
        cardDescription="Vil du vide, hvordan du nemt kommer igennem sikkerhedskontrollen i Københavns Lufthavn? Få gode tips og en guide til en hurtig og problemfri oplevelse her."
        targetLocation="https://www.cph.dk/praktisk/sikkerhedskontrol"
        cardIcon={sikkerhedskontrol}
        iconAlt="Securityikon"
      />
      <ThreeoneCard1
        cardTitle="Tilladt & ikke-tilladt i håndbagage"
        cardDescription="Er du i tvivl om, hvad der er tilladt i din håndbagage? Her er en praktisk liste med almindelige genstande, så du kan tjekke, om de er tilladt med i håndbagagen."
        targetLocation="https://www.cph.dk/praktisk/bagage/tilladt-og-ikke-tilladt-i-bagagen"
        cardIcon={tilladtBagage}
        iconAlt="Baggagetjekikon"
      />
      <ThreeoneCard1
        cardTitle="Bagageinformation"
        cardDescription="Har du yderligere spørgsmål om bagage, så som Odd-Size, Rejsen med dyr eller mistet bagage? Så kan du finde alt informationen her."
        targetLocation="https://www.cph.dk/praktisk/bagage"
        cardIcon={bagageinformation}
        iconAlt="Kuffertikon"
      />
      <ThreeoneCard2
        slot="third"
        cardTitle="Læs mere om alt praktisk information i lufthavnen"
        cardDescription="Her finder du et overblik over al praktisk information du skulle få brug for i lufthavnen."
        targetLocation="https://www.cph.dk/praktisk"
      />
    </Grid>
   </div>
    <div class="max-w-[768px] mx-auto my-8">
      <HalfnHalf
        cardTitle="Få CPHs APP"
        cardDescription="Download CPH appen til Android eller iPhone og vær opdateret på flyafgange, tilbud og parkering."
        targetLocation="https://www.cph.dk/en/customer-service/app"
      />
    </div>
    <FAQ client:load headlineText="Ofte stillede spørgsmål" paragraphText="Her kan du finde svar på spørgsmål omkring security i lufthavnen."

      faqQuestions={[
        {
          question: "Jeg har metal i kroppen. Er det et problem, når jeg skal igennem Security?",
          answer:`I CPH er det ikke noget problem at gå igennem Security med indopereret metaldele i kroppen. Du bedes blot oplyse Security-medarbejderen om forekomsten af metaldele i kroppen før du går igennem, så de er opmærksomme på det.

Vi kan dog ikke udtale os om praksis i andre lufthavne, hvorfor vi anbefaler, at man medbringer en lægeerklæring på engelsk, så man undgår unødige komplikationer ved gennemrejse i andre lufthavne.`,
          },
        {
          question: "Må jeg have planter med i håndbagagen?",
          answer:
`Du må gerne medbringe blomster og planter, dog skal du altid sikre dig, at disse opfylder accepteres af plantesundhedskravene i det land, hvortil rejsen går. Du kan finde yderligere information herom på Landbrugsstyrelsens hjemmeside [Eksport af planter (lbst.dk)](https://lbst.dk/virksomheder/import-og-eksport/eksport-plantesundhed/eksport-af-planter#c8407).

Det er dog ikke tilladt at medbringe hverken jord eller vand, men du er velkommen til at putte fx et fugtig blomsterrør o.l. om enden, og så kan planten efterfølgende genplantes ved ankomst til den næste destination.

Du kan læse mere om hvad der er og ikke er tilladt i din håndbagage i Københavns Lufthavn på linket nedenfor.`,
            text:"Læs mere her",
            hyperRef: "https://www.cph.dk/praktisk/bagage/tilladt-og-ikke-tilladt-i-bagagen",
        },
        {
          question: "Hvordan er reglerne for håndbagage ved mellemlanding/transit?",
          answer:
  `Reglerne ved mellemlanding afhænger af hvilket land du kommer rejsende fra:
  - Kommer du fra et Schengen-land skal du ikke passere sikkerhedskontrol på ny - du skal derfor blot være opmærksom på, at din håndbagage overholder mål- og vægtkrav fastsat af det flyselskab du skal flyve videre med.
  - Kommer du fra et non-Schengen land skal du passere Security, og din håndbagage skal derfor, udover at overholde mål- og vægtkrav, også leve op til EUs væskeregler.

  Du må fortsat gerne medbringe væsker og madvarer i din håndbagage, men de skal pakkes efter EU's obligatoriske væskeregler.

  - Det vil sige, at væsker og madvarer i håndbagagen skal være pakket i beholdere, der max kan rumme 100 ml (1 dl). Du må gerne medbringe mere end en beholder, men ikke flere end der kan være i en genlukkelig og gennemsigtig 1 liters plastikpose.
  - Plastikposen skal kunne lukkes helt og der må kun medbringes 1 pose pr. passager.
  - Ved Security skal du tage plastikposen op af din håndbagage og lægge den i en separat bakke.
  - Hvis du medbringer væsker og madvarer, som fylder mere end 100 ml, vil de blive afvist i Security.`,
        },
        {
          question: "Kan det være skadeligt at blive scannet i Security?",
          answer:
  `Det er sikkert for alle at passere gennem sikkerhedsscanneren, selv hvis du er gravid eller har en pacemaker. Vores scannere anvender en ufarlig og velafprøvet teknologi, som ligner den, der anvendes i radio- og tv-signaler, kaldet non-ioniserede elektromagnetiske bølger.

  Scannerens elektromagnetiske bølger reflekteres af huden og danner et omrids af personens krop på skærmen. Sikkerhedspersonalet kan derefter se eventuelle skjulte, potentielt farlige genstande på dette billede. Billedet på skærmen viser en standard figur, hvor skjulte genstande vil blive markeret.

  Sikkerhedspersonalet bruger disse oplysninger til at vurdere, om der er behov for yderligere undersøgelser eller et fysisk gennemsyn. Det er vigtigt at bemærke, at skærmbilledet af passageren ikke gemmes, printes eller deles med andre enheder.

  Som passager har du ret til at afvise at blive scannet. I så fald vil du blive screenet manuelt.`,
        },
      ]}
    />
  </main>
</MainLayout>

<style></style>
