---
import { Image } from "astro:assets";
const { cardIcon, cardTitle, cardDescription, targetLocation } = Astro.props;
import adImage from "../images/appAdImage.webp";
---

<a href={targetLocation}>
  <div
    class="flex shadow-cardMedium justify-center items-stretch rounded-2xl overflow-hidden"
  >
    <div class="bg-cph-blue flex justify-center w-1/2">
      <Image class="object-cover" src={adImage} alt="Billede af cph app på telefon" />
    </div>
    <div class="p-10 flex flex-col items-center w-1/2 justify-between">
      <p class="font-bold text-6 text-center text-cph-blue">{cardTitle}</p>
      <p class="text-small font-medium text-center mb-4">{cardDescription}</p>
      <p
        class="mt-2 bg-cph-blue hover:bg-light-blue transition rounded-md text-cph-white w-fit px-4 py-2 text-small font-medium"
        >Læs mere</p
      >
    </div>
  </div>
</a>
