---
const { cardIcon, cardTitle, cardDescription, targetLocation } = Astro.props;
---

<a href={targetLocation} class="">
  <div class="flex flex-col shadow-card hover:shadow-cardHover transition p-3 justify-center rounded-xl">
    <!-- Temporary src logo until we import all logos needed -->
    <p class="font-bold mt-2">{cardTitle}</p>
    <p class="text-small">{cardDescription}</p>
  </div>
</a>
