/* Fonts*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Open Sans Medium"), local("OpenSans-Medium"), url("../fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extra Bold"), local("OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

:root {
  /* Colors */
  --dark-blue: #141b32;
  --cph-blue: #071143;
  --light-blue: #1349a4;
  --footer-blue: #40496d;
  --dark-yellow: #ffbb03;
  --cph-yellow: #fecb00;
  --light-yellow: #fedb55;
  --cph-white: #fff;
  --grey-lighter: #dfe3e6;
  --grey-light: #a4a8ad;
  --grey-mid: #7e8a94;
  --grey-dark: #5b646d;
  --grey-text: #333333;

  --box-shadow: 0 5px 20px rgba(7, 19, 66, 0.15);
  --box-shadow-medium: 0 5px 20px rgba(7, 19, 66, 0.25);
  --box-shadow-hover: 0 5px 20px rgba(7, 19, 66, 0.35);

  /* Font-weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-x-bold: 800;

  /* Font-sizes */
  --fs-1: 3.375rem; /* 54px */
  --fs-2: 2.5rem; /* 40px */
  --fs-3: 2.3rem; /* 36,8px */
  --fs-4: 2rem; /* 32px */
  --fs-5: 1.625rem; /* 26px */
  --fs-6: 1.3rem; /* 20,8px */
  --fs-large: 1.125rem; /* 18px */
  --fs-p: 1rem;
  --fs-small: 0.875rem; /* 14px */
  --fs-smaller: 0.75rem; /* 12px */

  --ff-open: "Open Sans", sans-serif;
  --ff-frutiger: "Frutiger", sans-serif;
}

/* General */
h1 {
  font-size: var(--fs-2);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin-inline: auto;
  padding-block: 40px;
  min-height: 60dvh;

  @media (width<1024px) {
    padding: 40px 16px;
  }
}
