---
// import "@fontsource/open-sans";
import "../css/main.css";

const { title } = Astro.props;
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="CPH Lufthavns Kundeservice side" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>

<style></style>
